################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Challenge/TennisKata/.vs/TennisKata/v16
/Challenge/TennisKata/TennisKata/obj
